DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=tesla
DB_NAME=recon-forge

JWT_SECRET=change_me_to_a_random_secret_key
COOKIE_MAXAGE_SHORT=7200
COOKIE_MAXAGE_REMEMBER=604800

SUPERADMIN_EMAIL=admin@gmail.com
SUPERADMIN_PASSWORD=admin123

IPTHC_API_URL=https://ip.thc.org
IPTHC_DISABLED=false
IPTHC_TIMEOUT_MS=8000
IPTHC_LIMIT=50000

PORTSCAN_TIMEOUT_MS=1500
PORTSCAN_ALLOW_TOP1000=false

CRAWLER_TIMEOUT_MS=60000

CVE_TIMEOUT_MS=20000
